<html>
<body>
  <img src="cid:[% img_logo %]"><br>
  <br>
  <h1>Audit Log Results for "[% schedule_name %]" </h1><br><br>
  Click <a href="[% url_log %]">here</a> to view the complete audit log<br>
  <br>
  <table class="gen_info">
    <tr><td><b> Audit Action  </b></td><td> [% audit_action  %] </td></tr>
    <tr><td><b> Audit Type    </b></td><td> [% audit_type    %] </td></tr>
    <tr><td><b> Schedule Type </b></td><td> [% schedule_type %] </td></tr>
    <tr><td><b> Start Time    </b></td><td> [% time_start    %] </td></tr>
    <tr><td><b> Elapsed Time  </b></td><td> [% time_elapsed  %] </td></tr>
  </table>
  <br>
  <table class="gen_info">
    <tr><td><b> Hosts Audited            </b></td><td> [% hosts_all.size     %] </td></tr>
    <tr><td><b> Connection Failed Audits </b></td><td> [% hosts_failed.size  %] </td></tr>
    <tr><td><b> Successful Audits        </b></td><td> [% hosts_success.size %] </td></tr>
    <tr><td><b> Exited With Error Status </b></td><td> [% hosts_aborted.size %] </td></tr>
    <tr><td><b> Killed Hanging Audits    </b></td><td> [% hosts_killed.size  %] </td></tr>
  </table>

  [% FOREACH host IN hosts_killed %]
  [% END %]
</body>
</html>
