audit_location = "r"
verbose = "y"
audit_host="http://myoaserver.mydomain.local"
'online = "yesxml"
online = "n"
strComputer = ""
ie_visible = "n" 
ie_auto_submit = "y" 
ie_submit_verbose = "n"
ie_form_page =  "http://myoaserver.mydomain.local/openaudit/admin_pc_add_1.php"
non_ie_page =  "http://myoaserver.mydomain.local/openaudit/admin_pc_add_2.php"
input_file = ""
'
email_to = "myemail@mydomain.com"     
email_from = "myemail@mydomain.com"
'email_sender = "My Name"
email_server = "mail.mydomain.com"  ' IP address or FQDN
email_port = "25"                 ' The SMTP port
email_auth = "1"                  ' 0 = Anonymous, 1 = Clear-text Authentication, 2 = NTLM
email_user_id = "myemail@mydomain.com"     ' A valid Email account in user@domain format
email_user_pwd = "Password"         ' The SMTP email password
email_use_ssl = "false"           ' True/False
email_timeout = "60"              ' In seconds
'
audit_local_domain = "y"
'domain_type = "ldap"
local_domain = "LDAP://mydomain.local"
hfnet = "n"
Count = 0
number_of_audits = 10
script_name = "audit.vbs"
monitor_detect = "y"
printer_detect = "y"
software_audit = "y"
uuid_type = "uuid"
nmap_subnet = "192.168.1."
nmap_subnet_formatted = "192.168.001."
nmap_ie_form_page =  "http://myoaserver.mydomain.local/openaudit/admin_nmap_input.php"
nmap_ie_visible = "n"
nmap_ie_auto_close = "y"
nmap_ip_start = 1
nmap_ip_end = 254
nmap_tmp_cleanup = true
