audit_location = "l" 
verbose = "y" 
online = "yesxml" 
strComputer = "." 
ie_visible = "n" 
ie_auto_submit = "y" 
ie_submit_verbose = "y" 
ie_form_page = "http://localhost/openaudit/admin_pc_add_1.php" 
non_ie_page = "http://localhost/openaudit/admin_pc_add_2.php" 
input_file = "" 
email_to = "" 
email_from = "" 
email_server = "" 
audit_local_domain = "n" 
local_domain = "LDAP://" 
hfnet = "n" 
Count = 0 
number_of_audits = 20 
script_name = "audit.vbs" 
monitor_detect = "y" 
printer_detect = "y" 
software_audit = "y" 
uuid_type = "mac" 
