audit_location = "r"
verbose = "y"
audit_host="http://support.cmarine.local"
online = "yesxml"
strComputer = ""
ie_visible = "n" 
ie_auto_submit = "y" 
ie_submit_verbose = "n"
ie_form_page =  "http://support.cmarine.local/openaudit/admin_pc_add_1.php"
non_ie_page =  "http://support.cmarine.local/openaudit/admin_pc_add_2.php"
input_file = ""
email_to = ""
email_from = ""
email_server = ""
audit_local_domain = "y"
local_domain = "LDAP://cmarine.local"
hfnet = "n"
Count = 0
number_of_audits = 10
script_name = "audit.vbs"
monitor_detect = "y"
printer_detect = "y"
software_audit = "y"
uuid_type = "uuid"
nmap_subnet = "192.168.42."
nmap_subnet_formatted = "192.168.043."
nmap_ie_form_page =  "http://support.cmarine.local/openaudit/admin_nmap_input.php"
nmap_ie_visible = "n"
nmap_ie_auto_close = "y"
nmap_ip_start = 1
nmap_ip_end = 254
